.container {
  text-align: center;
}

.products {
  border: 3px solid black;
  object-fit: cover;
  width: 200px;
  height: 250px;
}

.title {
  text-align: center;
}

.contact-main {
  width: 500px;
  display: block;
}

.contact-form {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.submit-order {
  text-align: center;
}

.admin {
  text-align: center;
}